@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark,
		pastel;
}

@theme {
	--color-active-secondary: #e2a0ff;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	@apply min-h-svh bg-slate-200;
}

.menu-active {
	@apply bg-[#55AD9B];
}

.btn-active {
	@apply bg-active-secondary border-0 outline-none;
}
