@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark,
		pastel;
}
@plugin "daisyui/theme" {
	name: 'pastel';
	default: true;
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
}

@theme {
	--color-brand-primary: #ffb000;
	--color-brand-secondary: #2c3e50;
	--color-brand-accent: #bcc1a8;
	--color-brand-background: #efebe1;
	--color-brand-text: #2d2d2d;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	@apply min-h-svh bg-slate-200;
}

.btn {
}

.menu-active {
	@apply bg-brand-secondary;
}

.btn-active {
	@apply bg-brand-accent border-0 outline-none;
}

.stat {
	@apply w-0;
}

.stat-figure {
	@apply self-start;
}

table th {
	@apply bg-slate-100;
}
